/.bash_history
/.bash_logout
/.bashrc
/.cache
/.dotnet
/.local
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.viminfo
/.vscode
/.vscode-server
/args.sh
/b.sh
/case.sh
/cmake
/file.txt
/name.txt
/obj.html
/score.txt
/select.sh
/test.sh
/test.txt